@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Redefine margens e padding padrão do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Garante que o body ocupe toda a altura da janela */
html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif; /* Define a fonte padrão */
}

.body {
  display: flex;
  height: 100vh; /* Para ocupar toda a tela */
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
}

.formulario {
  width: 350px;
  height: 400px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; 
}

.esquerda {
  flex: 1;
  background-color: #f6feff;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  position: relative;
  flex-direction: column;
}

.direita {
  flex: 1;
  background-image: linear-gradient(to bottom right, #8c52ff, #5ce1e6);
  position: relative;
}

.figura {
  position: absolute;
  bottom: 0;
  left: 50%; /* Você pode ajustar a posição horizontal conforme necessário */
  transform: translateX(-50%);
  height: 90px;
}

.figura2 {
  position: relative;
  top: 55%; /* Posiciona o topo do elemento no meio da tela */
  transform: translateY(-50%); /* Move o elemento para cima em 50% da sua própria altura */
  height: 40%;
  left: 30%;
}

.circulo_aqua {
  width: 100px; /* Ajuste conforme necessário para o tamanho do círculo */
  height: 100px; /* Ajuste conforme necessário para o tamanho do círculo */
  background-color: #6CE5E8; /* Cor de fundo do círculo */
  border-top-left-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 0px;
  position: absolute; /* Adiciona posicionamento absoluto */
  top: 70%; /* Ajuste conforme necessário para centralizar verticalmente */
  left: 93%; /* Ajuste conforme necessário para definir a posição horizontal */
}

.circulo_azul {
  width: 50px; /* Ajuste conforme necessário para o tamanho do círculo */
  height: 100px; /* Ajuste conforme necessário para o tamanho do círculo */
  background-color: #84D8ED; /* Cor de fundo do círculo */
  border-top-left-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 50px;
  position: absolute; /* Adiciona posicionamento absoluto */
  top: 10%; /* Ajuste conforme necessário para centralizar verticalmente */
  left: 0
}

.textoSuperiorDireita {
  position: absolute;
  top: 10px; /* Ajuste conforme necessário */
  left: 10%; /* Ajuste conforme necessário */
  color: rgb(244, 240, 240);
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}

.textoSuperiorEsquerda {
  color: rgb(5, 5, 5);
  font-size: 30px;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  margin-bottom: 20px; /* Espaço entre o texto e o formulário */
}

.entrada_container {
  display: flex;
  flex-direction: column;
}

.entrada-label {
  align-self: center;
}

.PGVD {
  margin: 0;
  display: inline;
  color: #6CE5E8;
}

.input-container {
    position: relative;
}

.input-container .fa {
position: absolute;
right: 10px;
top: 30%;
transform: translateY(-50%);
cursor: pointer;
color: #cbc9c9;
}

.input-container .fa:hover {
color: #333;
}
  

/* Media Query para telas menores que 768px */
@media (max-width: 1000px) {
  .direita {
    display: none; /* Esconde a parte direita */
  }

  .container {
    flex-direction: column; /* Ajuste conforme necessário */
  }

  .textoSuperiorEsquerda {
    left: 10%;
    font-size: 24px; /* Ajusta o tamanho da fonte para telas menores */
  }

  .textoSuperiorDireita {
    left: 10%;
    font-size: 24px; /* Ajusta o tamanho da fonte para telas menores */
  }

  .circulo_aqua, .circulo_azul {
    width: 25px;
    height: 50px;
  }

  .figura {
    bottom: 10%;
    left: 50%;
    height: 60px; /* Ajusta a altura para telas menores */
  }

  .figura2 {
    top: 65%;
    left: 50%;
    height: 30%; /* Ajusta a altura para telas menores */
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* 
body{
     display: flex; 
     justify-content: center;
    align-items: center; 
     background-size: cover; 
     background-position: center; 
    background-color: #F6FEFF;
   
    
} */

 header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
} 

.marca{
    font-size: 2em;
    color: rgb(4, 4, 104);
    user-select: none;
}

.navegacao a {
    position: relative;
    font-size: 1.1em;
    color: rgb(4, 4, 104);
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
}

.navegacao a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(4, 4, 104);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navegacao a:hover::after {
    transform-origin: left;
    transform: scaleX(1);

}

.cadastro{

    margin-top: 140px;
    position: relative;
    width: 400px;
    height: 440px;
    background-color: white;
    border: none;
    border-radius: none;
    box-shadow:none;
    display: flex;
    
}

 .wrapper {
    margin-top: 180px;
    position: relative;
    width: 300px;
    height: 400px;
    /* background-color: white;
    border: 2px solid white; */
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 0 30px black;  */
    left: 158px;
} 

.wrapper .formm-box {
    width: 100%;
    padding: 40px;
}

.formm-box h2{
    font-size: 2em;
    color: rgb(4, 4, 104);
    text-align: center;
}

.input-box {
    display: flex;
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: none;
    margin: 15px 0;
    bottom: 10px;
    align-items: center;
    justify-content: left;
    padding-left: 10px; /* Adiciona margem apenas no lado esquerdo */
    background: #ECECEC;
    border: 2px solid #ECECEC;
    border-radius: 3px;

}

.input-box .label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: 0.3s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 5px;
}

.input-box .input{
    width: 100%;
    height: 100%;
    background: white;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 14px;
    color: rgb(43, 41, 41);
    font-weight: 600;
    padding: 0 35px o 5px;
    
}
.input-container {
    position: relative;
  }
  
  .input-container .fa {
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #cbc9c9;
  }
  
  .input-container .fa:hover {
    color: #333;
  }
  

.lembrar {
    font-size: .9em;
    color: rgb(4, 4, 104);
    font-weight: 500;
    margin: -14px 0 15px;
    display: flex;
    justify-content: space-between;

}

.lembrar label input{
    accent-color: blue ;
    margin-right: 3px;
}

.lembrar a:hover{
text-decoration: underline;
}

.btn{
    width:100%;
    height: 45px;
    background-color: rgb(4, 4, 104);
    border:none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.bg-green {
    background-color: green; 
}

.login-register {
  font-size: .9em;
  color: rgb(4, 4, 104);
  text-align: center;
  font-weight: 500;
  margin: 25px 0 35px; 
}


.login-register p a{
    color: rgb(4, 4, 104);
    text-decoration: none;
    font-weight: 600;
    margin-left: 3px;
}

.login-register p a:hover{
    text-decoration: underline;
}
.entrada-label {
    position: relative;
    align-self: center;
    color: black;
    left: 45%;
    font-size: 13px;
  }
.entrada-label-cadastro{

    position: relative;
    align-self: center;
    color: black;
    left: 0%;
    font-size: 13px;
}

.mensagem-erro {
    color: red; 
    justify-content: center;
    margin-top: 2px; 
    margin-bottom: 9px; 
  }

.mensagem-erro-index {
    color: red; 
    position: absolute;
    justify-content: center;
    margin-top: 38%; 
    margin-left: 160px;
  }